{% extends 'frontend/base.html' %}
{% block title %} Contact {% endblock %}
{% block content %}

<div id="Music" class="w3-container classification" style="display:none">
  
    <div class="w3-container">
      <h2 class="w3-text-white w3-f2">Music I love &nbsp;<i class="fa fa-heart"></i></h2>
    </div>

    <div class="w3-row-padding w3-border">
    
      <div class="w3-third w3-cell w3-mobile">
      
        <a href=https://www.youtube.com/watch?v=hr4GaRPX6cM target="_blank">
        <p><div class="w3-dark-gray w3-text-black w3-opacity-off w3-hover-opacity">
		<iframe width=100% height=50% src="https://www.youtube.com/embed/ECMc1SB60E0"></iframe>
        <br><h4 class="w3-text-white w3-f2 w3-margin">HYUKOH - WI ING WI ING</h4><br>
        <h5 class="w3-text-white w3-f2 w3-margin">Hyukoh is a South Korean indie band signed to DRDRamc. The band was formed in May 2014 and consists of leader, 
        singer, and guitarist Oh Hyuk, bassist Im Dong-geon, guitarist Lim Hyun-jae, and drummer Lee In-woo.</h5>
        <br></div></a>
        
        <a href=https://www.youtube.com/watch?v=ouR4nn1G9r4 target="_blank">
        <p><div class="w3-dark-gray w3-text-black w3-opacity-off w3-hover-opacity">
		<iframe width=100% height=50% src="https://www.youtube.com/embed/ouR4nn1G9r4"></iframe>
        <br><h4 class="w3-text-white w3-f2 w3-margin">HIGH4, IU - Not Spring, Love, or Cherry Blossoms</h4><br>
        <h5 class="w3-text-white w3-f2 w3-margin">IU is a South Korean singer-songwriter and actress. She has a beautiful voice. You will love her!</h5>
        <br></div></a>

        <a href=https://www.youtube.com/watch?v=vecSVX1QYbQ target="_blank">
        <p><div class="w3-dark-gray w3-text-black w3-opacity-off w3-hover-opacity">
		<iframe width=100% height=50% src="https://www.youtube.com/embed/vecSVX1QYbQ"></iframe>
        <br><h4 class="w3-text-white w3-f2 w3-margin">iKON - LOVE SCENARIO</h4><br>
        <h5 class="w3-text-white w3-f2 w3-margin">IKON is a South Korean boy band formed in 2015 by YG Entertainment.This song was one of the best song in Korean last year.</h5>
        <br></div></a>
        
      </div>
    
      <div class="w3-third w3-cell w3-mobile">

        <a href=https://www.youtube.com/watch?v=elRS0ntrEjk target="_blank">
        <p><div class="w3-dark-gray w3-text-black w3-opacity-off w3-hover-opacity">
		<iframe width=100% height=50% src="https://www.youtube.com/embed/elRS0ntrEjk"></iframe>
        <br><h4 class="w3-text-white w3-f2 w3-margin">gnash - imagine if</h4><br>
        <h5 class="w3-text-white w3-f2 w3-margin">I very like his style. Listen to it, perhaps you like it too.</h5>
        <br></div></a> 

        <a href=https://www.youtube.com/watch?v=jO2viLEW-1A target="_blank">
        <p><div class="w3-dark-gray w3-text-black w3-opacity-off w3-hover-opacity">
		<iframe width=100% height=50% src="https://www.youtube.com/embed/jO2viLEW-1A"></iframe>
        <br><h4 class="w3-text-white w3-f2 w3-margin">Jeremy Zucker - comethru</h4><br>
        <h5 class="w3-text-white w3-f2 w3-margin">"I'm trying to realize. It's alright to not be fine on your own." His lyrics get my heart.</h5>
        <br></div></a>    

        <a href=https://www.youtube.com/watch?v=r8OipmKFDeM target="_blank">
        <p><div class="w3-dark-gray w3-text-black w3-opacity-off w3-hover-opacity">
		<iframe width=100% height=50% src="https://www.youtube.com/embed/r8OipmKFDeM"></iframe>
        <br><h4 class="w3-text-white w3-f2 w3-margin">Oasis - Don't Look Back In Anger</h4><br>
        <h5 class="w3-text-white w3-f2 w3-margin">This song created by a Legendary band name "Oasis". Oasis were an English rock band formed in Manchester in 1991.</h5>
        <br></div></a>    

      </div>

      <div class="w3-third w3-cell w3-mobile">

        <a href=https://www.youtube.com/watch?v=JaWlpvtgSRg target="_blank">
        <p><div class="w3-dark-gray w3-text-black w3-opacity-off w3-hover-opacity">
		<iframe width=100% height=50% src="https://www.youtube.com/embed/JaWlpvtgSRg"></iframe>
        <br><h4 class="w3-text-white w3-f2">Whal & Dolph - Mute</h4>
        <br>
        </div></a>

        <a href=https://www.youtube.com/watch?v=dJMtC5lEd-E target="_blank">
        <p><div class="w3-dark-gray w3-text-black w3-opacity-off w3-hover-opacity">
		<iframe width=100% height=50% src="https://www.youtube.com/embed/dJMtC5lEd-E"></iframe>
        <br><h4 class="w3-text-white w3-f2">Violette Wautier - Smoke</h4>
        <br>
        </div></a>

        <a href=https://www.youtube.com/watch?v=-q5n6-EQPuc target="_blank">
        <p><div class="w3-dark-gray w3-text-black w3-opacity-off w3-hover-opacity">
		<iframe width=100% height=50% src="https://www.youtube.com/embed/q5n6-EQPuc"></iframe>
        <br><h4 class="w3-text-white w3-f2">Moving and Cut - Escape</h4>
        <br>
        </div></a>

        <a href=https://www.youtube.com/watch?v=8HnLRrQ3RS4 target="_blank">
        <p><div class="w3-dark-gray w3-text-black w3-opacity-off w3-hover-opacity">
		<iframe width=100% height=50% src="https://www.youtube.com/embed/8HnLRrQ3RS4"></iframe>
        <br><h4 class="w3-text-white w3-f2">Phum Viphurit - Lover Boy </h4>
        <br>
        </div></a>

      </div><br><br>
</div>

{% endblock %}